<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cc.ccbootdemo.core.mapper.master.PushConfigDOMapper">
    <resultMap id="BaseResultMap" type="com.cc.ccbootdemo.facade.domain.dataobject.PushConfigDO">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="push_config_id" property="pushConfigId" jdbcType="VARCHAR"/>
        <result column="merchant_id" property="merchantId" jdbcType="VARCHAR"/>
        <result column="environment" property="environment" jdbcType="VARCHAR"/>
        <result column="app_id" property="appId" jdbcType="VARCHAR"/>
        <result column="app_secret" property="appSecret" jdbcType="VARCHAR"/>
        <result column="app_key" property="appKey" jdbcType="VARCHAR"/>
        <result column="master_secret" property="masterSecret" jdbcType="VARCHAR"/>
        <result column="available" property="available" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        push_config_id, merchant_id, environment, app_id, app_secret, app_key, master_secret,
        available, create_time, update_time
    </sql>
    <select id="queryConfig" parameterType="string" resultType="com.cc.ccbootdemo.facade.domain.dataobject.PushConfigDO">
    select * from push_config
        where merchant_id=#{parameter}
  </select>
</mapper>