<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cc.ccbootdemo.core.mapper.master.UserMapper">

    <resultMap id="BaseResultMap" type="com.cc.ccbootdemo.facade.domain.bizobject.UserInfo">
        <result column="uid" property="uid"/>
        <result column="user_name" property="userName"/>
        <result column="pwd" property="pwd"/>
        <result column="nick_name" property="nickName"/>
        <result column="description" property="description"/>
        <result column="phone" property="phone"/>
        <result column="mail" property="mail"/>
        <result column="head_image" property="headImage"/>
        <result column="role_code" property="roleCode"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <parameterMap id="User" type="com.cc.ccbootdemo.facade.domain.dataobject.User"/>

    <sql id="Base_Column_List">
        u.uid, u.user_name, u.description,u.nick_name,mail,pwd,head_image,create_time,update_time,phone
    </sql>

    <sql id="alas_Base_Column_List">
        u.uid, u.user_name, u.description,u.nick_name,u.mail,u.pwd,u.head_image,u.create_time,
        u.update_time,u.phone
    </sql>

    <select id="findByName" resultType="com.cc.ccbootdemo.facade.domain.bizobject.UserInfo" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from user
        where user_name = #{userName}
    </select>
    <select id="getAllUserList" resultType="com.cc.ccbootdemo.facade.domain.bizobject.UserInfo" >
        select
        <include refid="Base_Column_List" />
        from user
       limit 0,10
    </select>
    <select id="findByPhone" resultType="com.cc.ccbootdemo.facade.domain.bizobject.UserInfo" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from user
        where phone = #{phone}
    </select>
    <select id="selectByUid" resultType="com.cc.ccbootdemo.facade.domain.bizobject.UserInfo">

        select
        ua.main_bg_url,
        <include refid="alas_Base_Column_List" />
        from user u,user_attach ua

        where u.uid = #{parameter}
        and  u.uid=ua.uid

    </select>


    <!--auto generated Code-->
    <update id="updateUserInfoSelective">
        UPDATE user
        <set>
            <if test="pojo.userName != null"> user_name = #{pojo.userName}, </if>
            <if test="pojo.pwd != null"> pwd = #{pojo.pwd}, </if>
            <if test="pojo.nickName != null"> nick_name = #{pojo.nickName}, </if>
            <if test="pojo.description != null"> description = #{pojo.description}, </if>
            <if test="pojo.phone != null"> phone = #{pojo.phone}, </if>
            <if test="pojo.mail != null"> mail = #{pojo.mail}, </if>
            <if test="pojo.headImage != null"> head_image = #{pojo.headImage}, </if>
            <if test="pojo.roleCode != null"> role_code = #{pojo.roleCode}, </if>
            <if test="pojo.createTime != null"> create_time = #{pojo.createTime}, </if>
            update_time=now()
        </set>
        WHERE uid = #{pojo.uid}
    </update>

</mapper>
