<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddy.nevermore.core.dao.mapper.RedisKeyDOMapper" >
  <resultMap id="BaseResultMap" type="com.cc.ccbootdemo.facade.domain.dataobject.RedisKeyDO" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="key" property="key" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="parent_key" property="parentKey" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="biz_type" property="bizType" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, `key`, `name`, description, parent_key, type,biz_type, create_time, update_time
  </sql>


  <select id="getRedisKeys" parameterType="com.cc.ccbootdemo.facade.domain.bizobject.param.RedisSearchParam"
          resultType="com.cc.ccbootdemo.facade.domain.dataobject.RedisKeyDO">

      select
      <include refid="Base_Column_List"/>
      from redis_key
      where
      1=1
      <if test=" keyStr!=null and keyStr!=''">
          and `key`=#{keyStr}
      </if>
      <if test=" parentKey!=null and parentKey!=''">
          and parent_key=#{parentKey}
      </if>
      <if test=" type!=null and type!=''">
          and type=#{type}
      </if>
      <if test=" bizType!=null and bizType!=''">
          and biz_type=#{bizType}
      </if>
      <if test=" name!=null and name!=''">
          and `name` like CONCAT('%',#{name},'%')
      </if>


  </select>

    <insert id="insertKeyInfo" parameterType="com.cc.ccbootdemo.facade.domain.dataobject.RedisKeyDO">
        insert into redis_key
        (
        `key`,
        `name`,
        description,
        parent_key,
        type,
        biz_type,
        create_time,
        update_time )
        VALUES( #{key},#{name},#{description},#{parentKey},#{type},#{bizType},#{createTime},#{updateTime} )
    </insert>
   <!-- <select id="getAllKeyBizTypes" resultType="map">
        select

        from

    </select>-->

</mapper>